main{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items:first baseline;
    justify-content:space-around;
    background-color: rgb(138, 171, 197);
    margin: 0%;
    overflow-y: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    form{
       
        display: flex;
        flex-direction: column;
        textarea{
            border-radius: 20px;
            padding-left: 20px;
            border: none;
            outline: none;
            padding-top: 10px;
        }
        .post-button{
            margin-top: 10%;
            width: 80px;
            height: 28px;
            background-color:rgb(44, 113, 186) ;
            color: white;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: medium;
        }
        
        .comment-button{
            margin-top: 10%;
            width: 160px;
            height: 28px;
            background-color:rgb(44, 113, 186) ;
            color: white;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: medium;
        }
    }
    #user-posts{
        box-sizing:border-box ;
        margin-right:10%;
        height:auto;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            list-style: none;
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}