<link rel="stylesheet" href="/css/profile.css">

    <!-- <h1>Codeial : <%= title %></h1> -->
<main>
    
    <%if (user.id==profile_user.id) {%>
        <!-- if user matches then show te form -->
        <%- include("_update")-%>
    <%}else{%>
        <h2>
            <div>
                Name : <span><%= profile_user.name %></span>
            </div>
            <div>
                Email : <span><%= profile_user.username %></span>
            </div>
        </h2>
    <%}%>
</main>
