<link rel="stylesheet" href="/css/profile.css">

    <!-- <h1>Codeial : <%= title %></h1> -->
<main>
    <h2>
        <div>
            Name : <span><%= user.name %></span>
        </div>
        <div>
            Email : <span><%= user.username %></span>
        </div>
    </h2>
</main>
