<link rel="stylesheet" href="/css/signup.css">

<main>
    <h1>Sign-Up</h1>
    
    <form action="/user/create" method="post">
        <input type="text" name="name" placeholder="Enter Name">
        <input type="email" name="username" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <button>Sign up</button>
    </form>
    <br>
    <p><a href="/user/auth/google">Goggle : Sign-in/Sign-up</a></p>

</main>


