<link rel="stylesheet" href="/css/signin.css">
<h1>Sign-in Page</h1>

<form action="/user/create-session" method="post">
    <input type="email" name="username" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" value="Sign in">
</form>
<a href="/user/signup"><button>Sign up</button></a>